moviepy
numpy
scipy
Pillow
scipy
pymupdf
opencv-contrib-python==4.5.4.60
emoji

sentence-transformers
git+https://github.com/xiong-jie-y/tsukuyomichan-talksoft@add_setup
espnet_model_zoo
progressbar2

# Ginza
spacy-transformers==1.0.6
spacy[cuda110]
ginza
ja-ginza-electra
ja-ginza

simpleaudio
onnxruntime
basicsr
click
simpletransformers
gdown
PyYAML

azure-cognitiveservices-speech