moviepy
numpy
scipy
Pillow
scipy
pymupdf==1.19.1
opencv-contrib-python==4.5.4.60
emoji

sentence-transformers
git+https://github.com/xiong-jie-y/tsukuyomichan-talksoft@add_setup
espnet_model_zoo
progressbar2

# Ginza
# transformers==4.11.3
# tokenizers<0.11
# huggingface-hub==0.0.19
# spacy-transformers==1.0.6
# ginza-transformers==0.3.2
spacy[cuda110]==3.1.3
ginza==5.0.3
ja-ginza-electra==5.0.0
# ja-ginza==5.0.0

simpleaudio
onnxruntime
basicsr
click
simpletransformers
gdown
PyYAML

azure-cognitiveservices-speech
yacs